{% extends 'core/base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="p-8 flex flex-col items-center">
    <h1 class="font-medium leading-right text-4xl mt-0 mb-4 text-blue-600">Welcome!</h1>

    <a class="text-blue-600 tracking-normal mb-4" href="{% url 'list-view' %}">View all dogs</a>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-4">
            {{ form.name|add_label_class:"block mb-2 text-sm font-medium text-gray-900" }}
            {% render_field form.name class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-300 block w-full p.25 h-10 px-4" %}
        </div>

        <div class="mb-8">
            {{ form.image|add_label_class:"block mb-2 text-sm font-medium text-gray-900" }}
            {% render_field form.image class="block w-full text-sm text-gray-900 border border-gray-300" %}
        </div>

        <input type="submit" value="Submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none" >


    </form>

    
</div>
{% endblock %}
